# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local env/secrets
.env
*.env

# macOS
.DS_Store
